
    #form{
      float: right;
      margin-top: 20px;
      margin-right: 20px;
      color: rgb(83, 238, 255);;
      border-color: black;
    }

    #buttons{
      float: left;
      border-color: green;
    }

    #view{
      border-color: red;
      margin-top: 10px;
    }
    
 